<div class="background" *ngIf="!loggedIn"></div>
<div id="wrapper" *ngIf="loggedIn">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Georgia Arms</a>
        </div>

        <ul class="nav navbar-right navbar-top-links">
            <li>
                <a (click)="setActive('products')"><i class="fa fa-tags fa-fw"></i> Manage Products</a>
            </li>
            <li>
                <a (click)="setActive('brands')"><i class="fa fa-book fa-fw"></i> Manage Brands</a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar col-xs-12 col-sm-12 col-md-4" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <select [(ngModel)]="brandFilter">
                                <option [value]=""></option>
                                <option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</option>
                            </select>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li [attr.class]="active === 'bullets' ? 'active' : ''"
                        (click)="setActive('Bullets')">
                        <a href=""><i class="fa fa-crosshairs fa-fw"></i> Bullets</a></li>
                    <li [attr.class]="active === 'primers' ? 'active' : ''"
                        (click)="setActive('Primers')">
                        <a href=""><i class="fa fa-dot-circle-o fa-fw"></i> Primers</a></li>
                    <li [attr.class]="active === 'brass' ? 'active' : ''"
                        (click)="setActive('Brass')">
                        <a href=""><i class="fa fa-pause fa-fw"></i> Brass</a></li>
                    <li [attr.class]="active === 'powder' ? 'active' : ''"
                        (click)="setActive('Powder')">
                        <a href=""><i class="fa fa-bomb fa-fw"></i> Powder</a></li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <products [brandFilter]="brandFilter" [currentProductType]="active"></products>
    </div>
</div>
<div class="login" *ngIf="!loggedIn">
    <login (checkLoggedInEvent)="checkLoggedIn($event)"></login>
</div>
<div class="modal" *ngIf="showModal">
    <div class="addRemove" *ngIf="">
        
    </div>
</div>
<div class="mask" *ngIf="showModal"></div>