<div class="background" *ngIf="!loggedIn"></div>
<div id="wrapper" *ngIf="loggedIn">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Georgia Arms</a>
        </div>

        <ul class="nav navbar-right navbar-top-links">
            <li>
                <a (click)="setActive('products')"><i class="fa fa-tags fa-fw"></i> Manage Products</a>
            </li>
            <li>
                <a (click)="setActive('brands')"><i class="fa fa-book fa-fw"></i> Manage Brands</a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar col-xs-12 col-sm-12 col-md-4" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <select [(ngModel)]="brandFilter">
                                <option [value]=""></option>
                                <option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</option>
                            </select>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li (click)="setActive('Bullets')">
                        <a href="" [attr.class]="active === 'Bullets' ? 'active' : ''">
                            <i class="fa fa-crosshairs fa-fw"></i> Bullets
                        </a>
                    </li>
                    <li (click)="setActive('Primers')">
                        <a href="" [attr.class]="active === 'Primers' ? 'active' : ''">
                            <i class="fa fa-dot-circle-o fa-fw"></i> Primers
                        </a>
                    </li>
                    <li (click)="setActive('Brass')">
                        <a href="" [attr.class]="active === 'Brass' ? 'active' : ''">
                            <i class="fa fa-pause fa-fw"></i> Brass
                        </a>
                    </li>
                    <li (click)="setActive('Powder')">
                        <a href="" [attr.class]="active === 'Powder' ? 'active' : ''">
                            <i class="fa fa-bomb fa-fw"></i> Powder
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <products [hidden]="active === 'products' || active === 'brands'"
                  [brandFilter]="brandFilter"
                  [currentProductType]="active"></products>
        <manage-products [hidden]="active !== 'products'"
                         [brands]="brands"
                         (updateProducts)="updateProducts($event)"></manage-products>
        <manage-brands [hidden]="active !== 'brands'"
                       (updateBrands)="updateBrands($event)"></manage-brands>
    </div>
</div>
<div class="login" *ngIf="!loggedIn">
    <login (checkLoggedInEvent)="checkLoggedIn($event)"></login>
</div>